<h2>Статусы</h2>

<table>
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>

    {% for s in status %}
    <tr>
        <td>{{ s.name }}</td>
        <td>
            <a href="{% url 'edit_status' s.id %}">Ред.</a>
            |
            <a href="{% url 'delete_status' s.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="{% url 'create_status' %}">
        <button>Добавить статус</button>
    </a>
</p>

<h2>Типы</h2>

<table>
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>

    {% for t in type %}
    <tr>
        <td>{{ t.name }}</td>
        <td>
            <a href="{% url 'edit_type' t.id %}">Ред.</a>
            |
            <a href="{% url 'delete_type' t.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="{% url 'create_type' %}">
        <button>Добавить тип</button>
    </a>
</p>

<h2>Категории</h2>

<table>
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>

    {% for c in category %}
    <tr>
        <td>{{ c.name }} &rarr; {{c.type}}</td>
        <td>
            <a href="{% url 'edit_category' c.id %}">Ред.</a>
            |
            <a href="{% url 'delete_category' c.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="{% url 'create_category' %}">
        <button>Добавить категорию</button>
    </a>
</p>

<h2>Подкатегории</h2>

<table>
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>

    {% for s in subcategory %}
    <tr>
        <td>{{ s.name }} &rarr; {{s.category}}</td>
        <td>
            <a href="{% url 'edit_subcategory' s.id %}">Ред.</a>
            |
            <a href="{% url 'delete_subcategory' s.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="{% url 'create_subcategory' %}">
        <button>Добавить подкатегорию</button>
    </a>
</p>
<a href="{% url 'cashflow_list' %}">
    <button>Назад</button>
</a>

{% if messages %}
  {% for message in messages %}
    <div class="alert">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}